.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

babel.config.*
eslint.config.*

.gitattributes
.gitignore

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Deps
.depsrc

# Hooks
.husky/hooks
